
$body-heading-color: $purple-300;
$body-heading-color: $purple-300;
$body-heading-2-color: $grey-dk-200;
$link-color: $purple-200;
$arrow-btn-color: $purple-200;
$btn-primary-color: $purple-200;

$hero-background-color: $yellow-200;
$hero-background-opacity: .85;