<ul class="brand-list">
  {% if site.banner_links.lsp %}
    <li class="brand-item">
        <span>Research from</span> <a href="https://hits.harvard.edu/the-program/laboratory-of-systems-pharmacology/about/" target="_blank"><img src="{{ '/assets/images/logo_lsp.svg' | relative_url }}" alt="Laboratory of Systems Pharmacology"></a>
    </li>
  {% endif %}
  {% if site.banner_links.hits %}
    <li class="brand-item">
        <span>A component of</span> <a href="https://hits.harvard.edu/" target="_blank"><img src="{{ '/assets/images/logo_hits.svg' | relative_url }}" alt="Harvard Program in Therapeutic Science (HiTS)"></a>
    </li>
  {% endif %}
</ul>