<div class="footer-sections">
  {%- if (site.license != nil and site.license|length) or site.last_edit_timestamp or site.gh_edit_link -%}
    <div class="footer-section">
      {%- if site.license != nil and site.license|length -%}
        {% include footer/license.html %}
      {% endif %}
      {%- if site.last_edit_timestamp or site.gh_edit_link -%}
        {% include footer/github.html %}
      {% endif %}
    </div>
  {%- endif -%}
  {%- if site.footer_logos|length -%}
    <div class="footer-section">
      {% include footer/logos.html %}
    </div>
  {%- endif -%}
</div>