//
// Buttons and things that look like buttons
//
// stylelint-disable color-named

.btn {
  @include fs-3;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.7em;
  padding-right: 1em;
  padding-bottom: 0.6em;
  padding-left: 1em;
  margin: 0;
  font-family: inherit;
  // font-size: inherit;
  font-weight: 400;
  line-height: 1.2;
  color: $link-color;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  background-color: $base-button-color;
  border-width: 0;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  appearance: none;
  text-transform:uppercase;

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(blue, 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: 0 0 0 3px rgba(blue, 0.25);
  }

  &:hover,
  &.zeroclipboard-is-hover {
    color: darken($link-color, 2%);
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
    background-color: darken($base-button-color, 1%);
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($base-button-color, 3%);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken(#dcdcdc, 5%);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      box-shadow: none;
    }
  }
}

.btn-outline {
  color: $link-color;
  background: $white;
  box-shadow: inset 0 0 0 2px $link-color;

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    color: darken($link-color, 4%);
    text-decoration: none;
    background-color: $white;
    box-shadow: inset 0 0 0 3px $link-color;
  }

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: inset 0 0 0 2px $link-color, 0 0 0 3px rgba($link-color, 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: inset 0 0 0 2px $link-color;
  }
}

.btn-arrow {
  display:inline-flex;
  align-items:center;

  &::after {
    content:"";
    width:50px;
    height:17px;
    margin-left:.5em;
    display:inline-block;
    background-color:$link-color;
    mask:url(../images/arrow.svg) no-repeat 0% 50%;
    -webkit-mask:url(../images/arrow.svg) no-repeat 0% 50%;
    mask-size:contain;
    -webkit-mask-size:contain;
    transition:transform 0.2s ease-out;
  }

  &.btn-large {
    @include mq(sm) {
      &::after {
        width:72px;
        height:24px;
      }
    }
  }

  &:hover {
    &::after {
      transform:translateX(5px);
    }
  }
}

.btn-primary {
  @include btn-color($white, $btn-primary-color);
}

.btn-purple {
  @include btn-color($white, $purple-100);
}

.btn-blue {
  @include btn-color($white, $blue-000);
}

.btn-green {
  @include btn-color($white, $green-100);
}

.btn-large {
  @include fs-5;
}