.basic-cards {
    margin-bottom: 40px;
    
    @include mq(sm) {
        @include flex-grid(2,50px);
        margin-bottom: 60px;
    }
    @include mq(lg) {
        @include flex-grid(2, 100px);
        margin-bottom: 80px;
    }
}
.basic-card {
    &:not(:nth-child(1)) {
        @include separator(40px, 40px);
    }

    @include mq(sm) {
        &:nth-child(2) {
            &::before {
                display:none;
            }
        }
        &:not(:nth-child(1), :nth-child(2)) {
            @include separator(35px);
        }
    }
}