.hero {
    @include container;
}
.hero-inner {
    @include background-opacity($hero-background-color, $hero-background-opacity);
    max-width:620px;
    padding:$sp-4 $sp-4 $sp-5;
    margin-top:30px;
    
    @include mq(sm) {
        padding:$sp-6;
    }
    @include mq(md) {
        max-width:720px;
        padding:$sp-7;
        margin-top:36px;
    }
    @include mq(lg) {
        padding:60px;
        max-width:920px;
        margin-top:60px;
        margin-bottom:10px;
    }
    @include mq(xl) {
        margin-top:75px;
        margin-bottom:20px;
    }
}
@if variable-exists(heroBackground) {
    .hero-inner {
        // Add some additional spacing if a background image is present
        @include mq(md) {
            margin-top:50px;
        }
        @include mq(lg) {
            margin-top:75px;
            margin-bottom:0;
        }
        @include mq(xl) {
            margin-top:100px;
            margin-bottom:20px;
        }
    }
}
.hero-heading {
    @include fs-9;
    font-weight:500;
    color: $hero-heading-color;
    text-transform:none;
    margin-bottom:.1em;
    
    @include mq(lg) {
        @include fs-10;
    }
}
.hero-body {
    @include fs-7;
    font-weight:300;
    color: $hero-body-color;
    line-height:1.4;
    margin-bottom:1em;

    p {
        margin-top:0;
    }

    a {
        color: $hero-link-color;

        &:hover {
            background-image: none;
        }
    }
    
    @include mq(lg) {
        @include fs-8;
        line-height:1.4;
    }
}