//
// Top branding banner
//
.banner {
  background: $white;
  position:fixed;
  width:100%;
  top:0;
  display:none;
  border-bottom:1px solid $white;
  transition:border-color 0.2s ease-out;

  // Special formatting of the brand-list item when displayed
  // in the top-banner layout
  .brand-list {
    display:flex;
  
    &::before {
      content:"";
      position:absolute;
      left:-150px;
      width:150px;
      height:100%;
      display:block;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    }
  }
  .brand-item {
    &:first-of-type {
      margin-left:0;
    }
  }

  @include mq(md) {
    display:block;
    z-index:4;
  }
}

// When scrolled away from top, add bottom border
.scrolled .banner {
  border-color: $grey-lt-200;
}

.banner-inner {
  display:flex;
  align-items:stretch;
  justify-content: flex-end;
  background:url(../images/banner-background.svg) left top repeat-x;
  margin-right:$gutter-spacing;
  height: $banner-height;
  color: $top-banner-text-color;

  @include mq(lg) {
    margin-right: $gutter-spacing-lg;
  }
  @include mq(xl) {
    margin-right: $gutter-spacing-xl;
  }
  @include mq(xxl) {
    margin-right: $gutter-spacing-xxl;
  }
  @media (min-width:#{$nav-width-xxl + $content-width + 16px}) {
    // When content floats in the main container...
    margin-right: calc((100% - #{$nav-width-xxl + ($content-width - ($gutter-spacing-xxl * 2))}) / 2);
  }
}

// Branding banner, mobile placement

.banner-mobile {
  background:url(../images/banner-background.svg) left top repeat;
  border-bottom:1px solid $grey-lt-200;
  width:100%;

  .brand-list {
    padding:1px 0;
    // background:rgba(255,255,255,.8);
    background:transparent;

    @media (min-width:600px) {
      display:flex;
      justify-content: center;
    }
  }
  .brand-item {
    margin:10px;
    height:$banner-height;

    span {
      width:36%;
      text-align:right;
    }

    @media (min-width:600px) {
      span {
        width:auto;
      }
    }
  }

  @include mq(md) {
    display:none;
  }
}
.banner-mobile-inner {
  background: linear-gradient(90deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,1) 50%);
}

// Banner content

.brand-list {
  margin:0;
  padding:0;
  list-style:none;
  background:$white;
  position:relative;
}
.brand-item {
  padding:0;
  margin:0 0 0 25px;
  font-size:$font-size-2;
  text-transform:uppercase;
  display:flex;
  align-items:center;

  span {
    align-self:flex-end;
    margin:0 10px 6px 0;
  }
  a,
  a:hover {
    background-image:none;
  }
  img {
    display:block;
  }
}

//
// The basic two column layout
//

.side-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: $sidebar-color;
  position: fixed;
  top:0;
  width:100%;
  z-index:3;

  @include mq(md) {
    flex-wrap: nowrap;
    width: $nav-width-md;
    height: 100%;
    flex-direction: column;
    border-right: $border $border-color;
    align-items: flex-end;
    top:auto;
  }

  @include mq(lg) { 
    width: $nav-width-lg;
  }
  @include mq(xxl) { 
    width: $nav-width-xxl;
  }
  @include mq(xxxl) { 
    width: calc((100% - #{$nav-width-xxl + $content-width-xxxl}) / 2 + #{$nav-width-xxl});
  }
}

.main {
  @include mq(md) { 
    position: relative;
    margin-left: $nav-width-md;
    display:flex;
    flex-direction:column;
    @if $hasBanner {
      min-height:calc(100vh - #{$banner-height});
    } @else {
      min-height: 100vh;
    }
  }

  @include mq(lg) { 
    margin-left: $nav-width-lg;
  }
  @include mq(xxl) { 
    margin-left: $nav-width-xxl;
  }
  @include mq(xxxl) { 
    margin-left: calc(
      (100% - #{$nav-width-xxl + $content-width-xxxl}) / 2 + #{$nav-width-xxl}
    );
  }
}

.main-content-wrap {
  @include container;
  padding-top: $gutter-spacing-sm;
  padding-bottom: $gutter-spacing-lg;
  width:100%;

  @include mq(md) {
    padding-top: $gutter-spacing;
    padding-bottom: $gutter-spacing-xl;
  }
}

// Used on both mobile and desktop - displays the initial
// (large) branding, hero background image, and (optional)
// hero messaging text.
.main-header {
  z-index: 1;
  // display: none;
  // background-color: $sidebar-color;
  

  // &.nav-open {
  //   display: block;

  //   @include mq(md) {
  //     display: flex;
  //   }
  // }
}

@if variable-exists(heroBackground) {
  // If we have a hero background image, render it out, and add
  // some padding at the bottom of the .main-header element, so 
  // a bit more of the bg image can be seen.
  .main-header {
    background:url($heroBackground) center no-repeat;
    background-size:cover;
    padding-bottom:35px;
  
    @include mq(md) {
      padding-bottom:55px;
    }
    @include mq(lg) {
      padding-bottom:75px;
    }
  }
} 

// Main hero branding area, where title/logo is displayed
// in the main content area (both mobile and desktop)
.main-branding {
  @include background-opacity($branding-background-color, $branding-background-opacity);
  height: $branding-area-height;
  position:relative;
  display:flex;
  align-items:center;

  @include mq(md) {
    height: $branding-area-height-md;
  }
  @include mq(lg) {
    height: $branding-area-height-lg;
  }

  // When the site-title is displayed within the main-branding
  // area, we need some spacing adjustments made
  .site-title {

    @include mq(md) {
      z-index:3;  // Place above the searchbar layer, to allow click access
      position:relative;
      max-width:1200px;
      margin-right:110px;
    }
    @include mq(lg) {
      margin-right:140px;
    }
    @include mq(xl) {
      margin-right:170px;
    }
    @include mq(xxl) {
      margin-right:190px;
    }
  }
}

.side-bar-content,
.site-nav,
.site-header,
.site-footer {
  width: 100%;

  @include mq(md) {
    width: $nav-width-md;
  }
  @include mq(lg) { 
    width: $nav-width-lg;
  }
  @include mq(xxl) { 
    width: $nav-width-xxl;
  }
}

// wrapper for nav, mobile search, and mobile banner
.side-bar-content {
  max-height: calc(100vh - #{$header-height});
  position:relative;
  margin-top:-100vh;
  transition:margin 0.5s ease-out, box-shadow 0.5s ease-out;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0);
  overflow-y:auto;

  &.nav-open {
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.3);
    margin-top:0;
  }

  @include mq(md) {
    box-shadow:none;
    margin-top:0;
    transition:none;
    max-height:none;
  }
}

.site-nav {
  // display: none;
  transition:padding 0.2s ease-out;

  // &.nav-open {
  //   display: block;
  // }

  @include mq(md) {
    display: block;
    padding-top: 45px;
    padding-bottom: $gutter-spacing-sm;
    overflow-y: auto;
    flex: 1 1 auto;
  }
  // @include mq(lg) {
  //   padding-top: 110px;
  // }
  // @include mq(xl) {
  //   padding-top: 150px;
  // }
}

// On mobile - it is used to display the menu
// toggle and branding (based on scroll position).
// On desktop - it displays the site name/logo 
// in the sidebar when user scrolls away from top
.site-header {
  display: flex;
  min-height: $header-height;
  align-items: center;
  z-index:3;
  position:relative;
  background-color: $sidebar-color;

  // Adjust the padding when the title is
  // displayed within the site-header element
  .site-title {
    @include mq(md) {
      // padding-top: $sp-2;
      // padding-bottom: $sp-2;
    }
    @include mq(lg) {
      // padding: $sp-4 $gutter-spacing;
      padding-right: $gutter-spacing;
      padding-left: $gutter-spacing;
    }
  }



  @include mq(md) {
    height: $sidebar-branding-area-height;
    margin-top:45px;
    // max-height: $header-height;
    // border-bottom: $border $border-color;
    // display:none;

    // Let's also ensure that the logo stays at the 
    // original (smallest) height setting for the 
    // 'logo-height' value (ie. alternate larger
    // screen height values shouldn't affect the
    // logo when displayed in the sidebar)
    .site-logo {
      height: $logo-height !important;
    }
  }
}

.site-title {
  @include fs-8;
  font-weight:600;
  flex-grow: 1;
  display: flex;
  height: 100%;
  align-items: center;
  color: $body-heading-color;
  padding: $sp-2 $gutter-spacing-sm;
  
  @include mq(sm) {
    padding-right: $gutter-spacing;
    padding-left: $gutter-spacing;
  }
  @include mq(md) {
    @include fs-10;
    // padding-top: $sp-5;
    // padding-bottom: $sp-5;
  }
  @include mq(lg) {
    // padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.offscreen-at-start {
  position:relative;
  transform:translateY(-200px);
  transition: transform 0.8s cubic-bezier(0.76, 0, 0.24, 1);
}
.scrolled .offscreen-at-start {
  transform:translateY(0);
}


@if variable-exists(logo) {
  .site-logo {
    width: 100%;
    height: $logo-height;
    background-image: url($logo);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    transform-origin: 0% 50%;
    transform:scale(.99); // Fix for image edge cropping

    @include mq(md) {
      height: $logo-height-md;
    }
    @include mq(lg) {
      height: $logo-height-lg;
    }
  }
} @else {
  .site-header {
    // In the site-header context (top header bar on mobile,
    // and side-bar branding on desktop), the site title needs
    // to be displayed in a smaller font size when using text 
    // (ie no logo), which also affects top/bottom padding
    .site-title {
      @include fs-5;
      padding-top: $sp-2;
      padding-bottom: $sp-2;

      @include mq(lg) {
        @include fs-6;
      }
    }
  }
}

.site-button {
  display: flex;
  height: 100%;
  padding: $gutter-spacing-sm;
  align-items: center;
  margin-left:auto;
}

@include mq(md) {
  .site-header .site-button {
    display: none;
  }
}


.site-button:hover {
  background-image: linear-gradient(
    -90deg,
    rgba($feedback-color, 1) 0%,
    rgba($feedback-color, 0.8) 100%
  );
}


//
// Search field
//
#search-mobile-container {
  position:relative;
  width:100%;
  // z-index:4;
}
#search-desktop-container {
  @include container;
  position:absolute;
  z-index:-1;
  height:60px;
  top:50%;
  transform:translateY(-50%);
  width:100%;
  display:flex;
  justify-content: flex-end;



  .search {
    flex:0 0 6rem;
    transition: flex-basis 0.2s ease-out;
  }
  .search-input {
    background-color: transparent;
    padding:1rem .25rem 1rem 2.5rem;
    
    &::placeholder {
      @include fs-2;
      text-transform:uppercase;
      color: $link-color;
    }
  }
  .search-label {
    padding-left:.75rem;
  }

  @include mq(md) {
    z-index:2;
  }
}
#svg-search svg {
  @include mq(md) {
    stroke: $link-color !important;
  }
}
.search-active {
  #search-desktop-container {
    z-index:3; // Place above branding, to fix layering display

    .search {
      flex:0 0 100%;
    }
    .search-input {
      @include fs-3;
      background-color: $white;
    }
    .search-input-wrap,
    .search-results {
      width:100%;
      max-width:none;
    }
  }
}


// stylelint-disable selector-max-type

body {
  position: relative;
  // padding-bottom: $sp-10;
  overflow-y: scroll;

  @include mq(md) {
    position: static;
    // padding-bottom: 0;
  }
}

// stylelint-enable selector-max-type

.footer {
  padding-top: $sp-7;
  padding-bottom: $sp-6;
  background-color: $footer-background-color;
  color: $footer-text-color;
  margin-top:auto;

  a {
    color: $footer-link-color;
    background-image: linear-gradient($footer-link-color 0%, $footer-link-color 100%);

    &:hover {
      color: $footer-link-color;
      background-image: linear-gradient(transparent 0%, transparent 100%);
    }

    &.image-link,
    &.image-link:hover {
      background:none;
    }
  }
}
.footer-inner {
  @include container;

}


.footer-sections {
  @include mq(xl) {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
}

.footer-section {
  margin-top:1.25em;
  margin-bottom:1.25em;

  p {
    margin:0 0 .25em;
  }

  @include mq(xl) {
    margin-top:.75em;
    margin-bottom:.75em;
    flex-basis:58%;
    margin-left:7%;

    &:nth-child(2n+1) {
      flex-basis:35%;
      margin-left:0;
    }
  }

  @include mq(xxxl) {
    font-size: $font-size-5;
    flex-basis:55%;
    margin-left:7%;

    &:nth-child(2n+1) {
      flex-basis:38%;
      margin-left:0;
    }
  }
}

.footer-logos {
  margin-top:2.5em;
  margin-bottom:2.5em;

  @media (min-width:800px) {
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
  }

  @include mq(xl) {
    margin-top:0;
    margin-bottom:0;
  }
}
.footer-logo {
  margin-top:1.25em;
  margin-bottom:1.25em;

  @media (min-width:800px) {
    flex-basis:47%;
    margin-left:6%;
    margin-top:0;
    max-width:320px;

    &:nth-child(2n+1) {
      margin-left:0;
    }
  }

  @include mq(xxxl) {
    flex-basis:45%;
    margin-left:10%;

    &:nth-child(2n+1) {
      margin-left:0;
    }
  }
}



/*
.site-footer {
  @include container;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: $sp-4;
  padding-bottom: $sp-4;
  color: $grey-dk-000;
  @include fs-2;

  @include mq(md) {
    position: static;
    justify-self: end;
  }
}
*/

.icon {
  width: $sp-5;
  height: $sp-5;
  color: $link-color;
}
